{% extends "base.html.jinja2" %}

{% block header %}
{{ index }}/{{ total }}
{% endblock header %}

{% block main %}
<main class="main-body">
	<h2 class="title">{{ title }}</h2>
	{{ content }}
</main>
{% endblock main %}

{% block footer %}
<footer class="row">
	<span>
	</span>
	<span>
		{{ head.author }}
	</span>
</footer>
{% endblock footer %}
